openapi: 3.1.0
info:
  title: Mantrae
  description: |
    Mantrae API Documentation
    For more information, visit the [Documentation](https://mizuchilabs.github.io/mantrae/)
  version: v1.0.0
  contact:
    name: Mantrae Support
    url: https://mizuchilabs.github.io/mantrae/
    email: support@mizuchi.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://localhost:3000
    description: Production

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: object

security:
  - BearerAuth: []
