<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activate Your Account</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px; text-align: center;">
  <div
    style="max-width: 600px; margin: auto; background: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <img src="https://raw.githubusercontent.com/MizuchiLabs/mantrae/refs/heads/main/web/src/lib/images/logo.svg"
      alt="App Logo" style="width: 100px; margin-bottom: 20px;">
    <h2 style="color: #333;">Welcome to Mantrae</h2>
    <p style="color: #555;">Please confirm your email to activate your account.</p>
    <a href="{{.ActivateLink}}"
      style="display: inline-block; padding: 10px 20px; background: #007bff; color: white; text-decoration: none; border-radius: 5px; margin-top: 20px;">Activate
      Account</a>
  </div>
</body>

</html>
