<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px; text-align: center;">
    <div
        style="max-width: 600px; margin: auto; background: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        <img src="https://raw.githubusercontent.com/MizuchiLabs/mantrae/refs/heads/main/web/src/lib/images/logo.svg"
            alt="App Logo" style="width: 100px; margin-bottom: 10px;">
        <h2 style="color: #333;">Your password reset token is:</h2>
        <p
            style="display: inline-block; padding: 10px 20px; background: #007bff; color: white; text-decoration: none; border-radius: 5px; margin-top: 20px;">
            <strong>{{.Token}}</strong>
        </p>
        <p>This token is valid until: {{.Date}}</p>
        <p style="margin-top: 20px; color: #777;">If you didn't request this, please ignore this email.</p>
    </div>
</body>

</html>
