name: Deploy Docs

on:
  push:
    branches:
      - main
    paths:
      - "web/docs/**"
  pull_request:
    branches:
      - main
    paths:
      - "web/docs/**"
  create:
    tags:
      - "*"
  deployment:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"
          cache-dependency-path: "web/docs/pnpm-lock.yaml"

      - name: Install dependencies
        working-directory: ./web/docs
        run: pnpm install

      - name: Build
        working-directory: ./web/docs
        run: pnpm run build && touch .output/public/.nojekyll

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./web/docs/.output/public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
