name: Test

on:
  push:
    branches: [main]
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
  pull_request:
    branches: [main]
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"
          cache-dependency-path: "web/pnpm-lock.yaml"

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: Build frontend & lint
        run: |
          task build:web
          task lint

      - name: Run GolangCI-Lint
        uses: golangci/golangci-lint-action@v9
        with:
          skip-cache: true
          args: --timeout=10m

      - name: ghcr.io cleanup
        uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          packages: mantrae,mantrae-agent
          keep-n-tagged: 20
          delete-untagged: true
          delete-ghost-images: true
          delete-partial-images: true
          delete-orphaned-images: true
          token: ${{ secrets.GITHUB_TOKEN }}
